<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pas trouvé !</title>
    <link href="../../static/css/tailwind.css" rel="stylesheet">
</head>
<body class="bg-yellow-600 flex-auto flex-grow w-screen h-screen">
    <div class="lg:flex md:flex-1 flex-grow items-center text-center inline-block align-middle w-3/5 m-auto
     h-screen md:w-full sm:w-full">
        <div class="lg:w-2/5 md:w-full sm:w-full">
            <img src="../../static/img/not_found.png" alt="forbidden_tux" class="md:w-full sm:w-full">
        </div>
        <div class="lg:w-3/5 md:w-full sm:w-full">
            <h1 class="text-6xl">Pas trouvé !</h1>
            <p class="text-2xl">Alors... C'est ici... Non... Là... Toujours pas ! <br>
            J'ai pas trouvé ce que vous recherchiez chef !</p>
        </div>
    </div>
</body>
</html>